@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img {
  transition: transform 0.3s ease;
}

.img-overlay-delete {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-overlay-update {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(48, 57, 231, 0.5);
  transition: opacity 0.5s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container:hover .img-overlay-delete {
  opacity: 1;
}
.img-overlay-delete:hover {
  background: rgba(255, 0, 0, 0.7);
}
.img-container:hover .img-overlay-update {
  opacity: 1;
}
.img-overlay-update:hover {
  background: rgba(48, 57, 231, 0.7);
}

.delete-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.update-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}


.main-center-background {
  position: absolute;
  overflow: hidden;
  transform: skewY(-12deg);
  z-index: -10;
  height: 161px;
  background: linear-gradient(248deg, #fe9903 10.52%, #013390 76.09%);
}

.main-center-background-grey {
  position: absolute;
  overflow: hidden;
  transform: skewY(-12deg);
  z-index: -11;
  height: 190px;
  opacity: 0.08;
  background: rgb(26, 101, 233);
  background: linear-gradient(90deg, #013390 0%, #013390 50.13%, #fe9903 100%);
}

.main-center-background-transparent {
  position: absolute;
  overflow: hidden;
  z-index: -10;
  width: 33vw;
  min-width: 571px;
  height: 161px;
  background: linear-gradient(82deg,
      #fff 14.13%,
      rgba(255, 255, 255, 0.83) 34.9%,
      rgba(255, 255, 255, 0.72) 51.41%,
      rgba(255, 255, 255, 0.5) 65.58%,
      rgba(255, 255, 255, 0) 94.88%);
  opacity: 0.72;
}

.main-center-background-vector-blue {
  position: absolute;
  width: 60vw;
  left: 20%;
  bottom: 50%;
  height: 66.966px;
  transform: rotate(1.167deg);
  flex-shrink: 0;
  background: linear-gradient(270deg,
      #fe9903 14.1%,
      rgba(211, 213, 78, 0.86) 42.71%,
      rgba(22, 231, 229, 0.53) 70.95%);
  filter: blur(35px);
  animation: animate-shape ease-in-out 4s infinite;
}

.main-center-background-vector-darkBlue {
  position: absolute;
  width: 60vw;
  left: 23%;
  bottom: -36%;
  height: 66.966px;
  transform: rotate(184.042deg);
  flex-shrink: 0;
  background: linear-gradient(270deg,
      #013390 45.42%,
      rgba(26, 34, 233, 0) 91.55%);
  filter: blur(50px);
  animation: animate-shape ease-in-out 6s infinite;
}
@keyframes animate-shape {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.5, 1.5, 12.5);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}


.logo {
  transform: scale(1);
  transition: transform 0.3s ease;
  animation: spin-scale 4s cubic-bezier(0.1, 0.9, 0.2, 1) forwards;
}


@keyframes spin-scale {
  0% {
    transform: rotate(0deg) scale(1.4);
  }

  80% {
    transform: rotate(-720deg) scale(1.1);
  }

  100% {
    transform: rotate(-720deg) scale(1);
  }
}